<main class="main">
		<h1>Contacto</h1>
  <h2>Pedi tu presupuesto</h2>
  <p>Para nosotros es importante tu contacto, si buscas presupuesto o necesitas realizar una reparacion no dudes en llamarnos o dejarnos tu numero para comunicarnos con vos a la brevedad.</p>
			<!--
  <div class="container">  
		
			<form name="contacto" netlify action="../gracias/gracias.component.html">
				Nombre:
				<input type="text" placeholder="Ingese su nombre" required><br>
				telefono:
				<input type="text"  placeholder="1144445555"  required><br>
				E-mail:
				<input type="email" required> <br>
                Fecha evento:
				<input type="date"><br>
				Zona GBA:
				<select>
					<option> Oeste</option>
					<option> Norte</option>
					<option> Sur</option>
					<option> CABA</option>
				</select><br>
                
				Servicios solicitados:<br>
				<textarea>Quiero que me contacten y asesoren. Gracias.
				</textarea>
				<br>
				
				
                <br>
                
			<input type="submit" value="enviar">
			<input type="reset" value="resetear">
		
		
		
			</form>



			a routerLink="./gracias"
		-->
	<div class="container">  
		<form netlify id="contact" action="./gracias" >
			<h3>Formulario de contacto</h3>
			<h4>Describinos tu marca y modelo de tu motor.</h4>
					
			<fieldset><input placeholder="Nombre" type="text" tabindex="1" required autofocus></fieldset>
			
			<fieldset><input placeholder="Email" type="email" tabindex="2" required></fieldset>
					
			<fieldset><input placeholder="Celular" type="tel" tabindex="3" required></fieldset>
			
			<fieldset><textarea  tabindex="5" required>Quiero que me contacten y asesoren. Gracias.</textarea></fieldset>
			
			<fieldset><button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button></fieldset>
			
			
		</form>
	</div>
	<br>
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4779.855412417419!2d-58.633528243596864!3d-34.61301315230726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe987d8d7586b0418!2sCorona%20Diesel!5e0!3m2!1ses-419!2sar!4v1577412784009!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
	<br>
</main>