

<header class="header">
    <a routerLink="./" class="logo"><img src="../../../assets/img/cd234.png" alt="Logo Alquiler de livings.com.ar"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="nav-icon"></span>
    </label>
    <ul class="menu">
        <li><a routerLink="./">Inicio</a></li>
        <li><a routerLink="./servicio">Servicios</a></li>
        <li><a routerLink="./contacto">Contacto</a></li><!--
        <li><a routerLink="./nosotros">Nosotros</a></li>-->
    </ul>
</header>
