
<main class="main"><h1>Reparacion y puesta a punto</h1>
    <h2>CONTAMOS UN BANCO DE PRUEBA DIESEL</h2>
<p class="parrafo">Todas nuestras reparaciones se entregan rigurosamente testeadas</p>
<div class="img">
<img class="bancodiesel" src="../../../assets/img/bancodiesel.jpeg" alt="Banco diesel"></div>
<br>
<div class="oscuroAclaro">
    <h3>Garantia</h3>
    <p class="parrafo">6 MESES DE GARANTIA A TODOS NUESTROS TRABAJOS.</p><br></div>
<h2>Nuestros trabajos realizados</h2>

<br>


<ul class="ul">
    <div class="tamaniocuadro">
        <br>
        <img src="../../../assets/img/favicon.ico" alt=""><br>
            <li *ngFor="let m of dataArticulos">
             <h2>{{ m.nombre }}</h2>
            <br>
            <img src="{{ m.imagen }}" alt="imagenes de productos">
        </li>
    </div>
</ul>


</main>