<main class="main">
<h1>Corona Diesel</h1>
<h2>Lider en reparacion de Bombas inyectoras</h2>
<div class="claroAoscuro">
<h3>Reparaciones</h3>
<p class="parrafo">SERVICIO DE REPARACIONES DE BOMBAS INYECTORAS EN GENERAL.</p><br></div>
<div class="oscuroAclaro">
<h3>Garantia</h3>
<p class="parrafo">6 MESES DE GARANTIA A TODOS NUESTROS TRABAJOS.</p><br></div>
<div class="claroAoscuro">
<h3>Recambios en el momento</h3>
<p class="parrafo">CONSULTAR STOCK DISPONIBLE.</p><br></div>
<div class="oscuroAclaro">
<h3>Ventas</h3>
<p class="parrafo">REPUESTOS DE INYECCION DIESEL.</p><br></div>
    
<div class="claroAoscuro">
<h3>ENVIOS A TODO EL PAIS</h3>
<p class="parrafo">Estamos ubicados en Segmund Freud 2598, Villa Tesei, Buenos Aires</p></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4779.855412417419!2d-58.633528243596864!3d-34.61301315230726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe987d8d7586b0418!2sCorona%20Diesel!5e0!3m2!1ses-419!2sar!4v1577412784009!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<br>
<img src="../../../assets/img/Logo_Mercadopago.jpg" alt="medios de pago"><br>
<br>
<div class="fb-like" data-href="https://www.facebook.com/Coronadiesel/" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>




<br><br>




<!--
<img src="https://http2.mlstatic.com/alquiler-low-cost-livings-puff-mesas-led-carpas-gazebos-piso-D_NQ_NP_910383-MLA32133713976_092019-F.webp" alt="Medios de pago">-->
</main>