/*======================
    404 page
=======================*/


.main{
    padding: 20px;
    margin: 20px;
     height: 300px;/*
      background: rgb(76, 175, 100);*/
    

   
      background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      
      background-position: center;
   
 }
 /* background: rgb(0, 250, 8, 0.5);
   

  
.first {
    background: rgba(76, 175, 100, 0.2);
  }*/ 