<main class="main">
    <h1>Nosotros</h1>
<p class="parrafo">     SOMOS UNA EMPRESA CON 20 AÑOS DE TRAYECTORIA PRODUCIENDO TODA CLASE DE EVENTOS TRABAJAMOS CON PERSONAL CAPACITADO Y EQUIPAMIENTO PROPIO, CONTANDO CON LA MAYOR CANTIDAD DE SERVICIOS Y ALQUILERES, TALES COMO: JUEGOS DE LIVINGS, MESAS Y SILLAS, GAZEBOS PLEGABLES 3H, CARPAS ESTRUCTURALES, PISOS EN MADERA O ALFOMBRADOS, CALEFACCION, DJ, SONIDO, KARAOKE, ILUMINACION LED, EFECTOS ESPECIALES (MAQUINAS DE HUMO, HUMO BAJO, HUMO VERTICAL, LANZA PAPELES, BURBUJAS, NIEVE, LASERS), AMBIENTACIONES, PANTALLAS GIGANTES, FOTOGRAFIA Y VIDEO PRO, EDICIONES PERSONALIZADAS, MAPPING, CABINAS SELFIE CON IMPRESION INSTANTANEA, BARRAS MOVILES, PIZZA PARTY, GRUPOS ELECTROGENOS Y LAS MEJORES IDEAS PARA QUE TU EVENTO SE DESTAQUE ENTRE TODOS !!! </p><br>
<p class="parrafo">     CON LOS MEJORES PRECIOS DEL MERCADO Y LA MAS AMPLIA VARIEDAD DE SERVICIOS. GRANDES EMPRESAS E IMPORTANTES PERSONAJES DE LA FARANDULA AVALAN NUESTRA LABOR SEGUINOS EN INSTA PARA QUE PUEDAS VER MAS TRABAJOS NUESTROS, PARTICIPAR DE SORTEOS MENSUALES Y SUMARTE A LOS CASI 5000 SEGUIDORES QUE DIA A DIA CONFIAN EN NOSOTROS NOS ENCONTRAS COMO: MONTENEGRO.PRO NO DEPENDAS DEL AZAR NI LO DUDES MAS, EN UN SOLO LUGAR TENES TODO LO QUE BUSCAS PARA QUE TU FIESTA SEA UNICA Y CON VALORES INCOMPARABLES !!!</p>


<h2>Seguinos en nuestras redes</h2>
<div class="redes">
    <h3>facebook</h3>
    <img src="../../../assets/img/facebook.png" alt="facebook">
        
    <h3>Instagram</h3>
    https://www.instagram.com/alquiler_delivings/
    <img src="../../../assets/img/instagram.png" alt="instagram">
</div>
</main>